*{
    margin: 0%;
    padding: 0%;
}

.btn-primary{
    color: white;
    background-color: rgba(255, 89, 89, 1);
    border: none;
    border-radius: 5px;
    padding: 12px;
    margin: 20px 0px;
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
}
/* Header Section */
#header-title{
    height: 543px;
    display: flex;
    gap: 130px;
    justify-content: space-between;
}

.header-title{
    margin: 157px 0px 0px 156px;
    align-items: center;
}
.header-title p{
    font-size: 20px;
}
.title{
    border-left: 5px solid rgba(255, 89, 89, 1);
    border-radius: 5px;
    padding-left: 20px;
    margin: 10px 0px;
    font-size: 45px;
    font-weight: bolder;
}
.colored-title{
    color: rgba(255, 173, 90, 1);
}
.header-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 207px 0px 0px;
    padding: 20px;
}

.img-person{
    height: 100%;
    
}
#my-mission{
    margin: 20px 150px;
}
.mission-title{
    font-size: 46px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 30px;
}
.my-mission{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.mission-types{
    padding: 24px;
    border: none;
    border-radius: 18px;
}
.type-image{
    width: 130px;
}
.mission-types h4,p{
    margin: 10px 30px;
}
.mission-types h4{
    font-size: 24px;
}
.mission-types p{
    font-size: 20px;
    text-align: justify;
}
.type-mission{
    background: rgba(79, 157, 166, 0.1);;
}
.type-vision{
    background: rgba(255, 89, 89, 0.1);;
}
.type-goals{
    background: rgba(255, 244, 214, 1);
}







/* Mobile Device */
@media screen and (max-width: 539px) {
    #header-title{
        flex-direction: column-reverse;
        gap: 5px;
        height: auto;
    }

    .header-title{
        margin: 0px 30px;
        text-align: center;
    }
    .title{
        text-align: left;
    }
    .header-image{
        margin: 0px 30px;
    }
    .img-person{
        width: 100%;
    }
    .header-title p{
    font-size: 17px;
}
}

